@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-outline-primary" id="365">365</button>
<button type="button" class="btn btn-outline-primary" id="azure">azure</button>

<script>
    var sessionString = sessionStorage.getItem('name');
    var reportvalue = JSON.parse(sessionString);

    document.getElementById('365').onclick = function () {
        sessionStorage.setItem('reportvalue', JSON.stringify(reportvalue));
        window.location.href = 'form';
    }

    document.getElementById('azure').onclick = function () {
        sessionStorage.setItem('reportvalue', JSON.stringify(reportvalue));
        window.location.href = 'azure';
    }

    console.log(reportvalue);
</script>